{% extends 'base.html' %}

{% load static %}

{% block main %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ message }}
      </div>
      {% elif message.tags == 'success' %}
      <div class="alert alert-success mt-3" role="alert">
        {{ message }}
      </div>
      {% endif %}
  {% endfor %}
{% endif %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
      <img src="{% static 'img/hero-image2.png' %}" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
    </div>
  
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3">Live Social Media Automation Solutions</h1>
      <p class="lead">
        Boost your Instagram reach effortlessly with our automated posting system. Schedule and share captivating content, engage with followers, and save time for meaningful interactions.
      </p>
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/schedule_posts" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Schedule Post</a>
        <a href="/multiple_likes" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Like Posts</a>
      </div>
  
    </div>
  
  </div>

<!-- Categories Start -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

  {% comment %} {% for category in categories %}
    <a href="/categories/{{ category.name }}" class="col text-center category__link">
      <div class="category__img shadow">
        <img src="{{ category.image.url }}" alt="{{ category.name }}" loading="lazy">
      </div>
      <div class="pt-1">{{ category.name }}</div>
    </a>
  {% endfor %} {% endcomment %}

  <a href="/schedule_posts" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="{% static 'img/schedule_posts.jpg' %}" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">Schedule Posts</div>
  </a>

  <a href="/multiple_likes" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="{% static 'img/like_posts.jpg' %}" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">Like Multiple Posts</div>
  </a>

  <a href="/share_to_followers" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="{% static 'img/share_to_followers.jpg' %}" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">Share To Followers</div>
  </a>

  <a href="/remove_unfollowers" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="{% static 'img/remove_followers.jpg' %}" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">Remove Unfollowers</div>
  </a>

  <a href="/follower_interactions" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="{% static 'img/follower_interactions.jpg' %}" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">Follower Interaction</div>
  </a>

  <a href="/story_viewer" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="{% static 'img/story_viewer.jpg' %}" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">Story Viewer by Niche</div>
  </a>

</div>


<!-- Categories End -->


<!-- Latest Start -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Your Scheduled Posts</h2>
    <a href="/explore_scheduled_users" class="ms-auto">View More</a>
  </div>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% if recent_posts %}
      {% for post in recent_posts %}
        <a href="#" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
            <div class="category__img__wrapper">
              <img src="{{ post.image.url }}" alt="{{ post.caption }}" loading="lazy">
            </div>
          </div>
          <div class="pt-1">{{ post.scheduled_time }}</div>
        </a>
      {% endfor %}
    {% else %}
      <p>No items found.</p>
    {% endif %}
  </div>
</section>

<!-- Latest End -->

<!-- Thai Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Posts Scheduled By Others</h2>
    <a href="/explore_scheduled" class="ms-auto">View More</a>
  </div>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% if other_posts %}
      {% for post in other_posts %}
        <a href="#" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
            <div class="category__img__wrapper">
              <img src="{{ post.image.url }}" alt="{{ post.caption }}" loading="lazy">
            </div>
          </div>
          <div class="pt-1">{{ post.scheduled_time }}</div>
        </a>
      {% endfor %}
    {% else %}
      <p>No items found.</p>
    {% endif %}
  </div>
</section>
<!-- Thai End -->

<!-- American Start -->

{% comment %} <section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>American Recipes</h2>
    <a href="/categories/American" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% if food.american %}
  {% for recipe in food.american %}
  <a href="/recipe/{{ recipe.id }}" class="col text-center category__link">
    <div class="category__img category__img--large shadow">
      <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" loading="lazy">
    </div>
    <div class="pt-1">{{ recipe.name }}</div>
  </a>
  {% endfor %}
{% else %}
  <p>No items found.</p>
{% endif %}
  </div>
</section> {% endcomment %}

<!-- American End -->

<!-- Chinese Recipes -->

{% comment %} <section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Chinese Recipes</h2>
    <a href="/categories/chinese" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% if food.chinese %}
  {% for recipe in food.chinese %}
  <a href="/recipe/{{ recipe.id }}" class="col text-center category__link">
    <div class="category__img category__img--large shadow">
      <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" loading="lazy">
    </div>
    <div class="pt-1">{{ recipe.name }}</div>
  </a>
  {% endfor %}
{% else %}
  <p>No items found.</p>
{% endif %}
  </div>
</section> {% endcomment %}

<!-- Chinese End -->

<!-- Submit - Start -->
<section class="px-4 py-5 my-5 text-center">
  <img src="{% static '/img/publish-post.png' %}" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for FREE today" width="566" height="208" loading="lazy">
  <h1 class="display-12 fw-bold" style="font-size: 1.5rem;">Join hands with me to explore more fascinating Python projects.</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Feel free to collaborate or hire me for interesting Python and Automation projects. Follow me to stay connected.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!-- Social Media Links -->
  
      <a href="https://github.com/Sallu-Fullstack" target="_blank" class="btn btn-primary btn-dark btn-lg"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/sallu-fullstack/" target="_blank" class="btn btn-primary btn-dark btn-lg"><i class="bi bi-linkedin"></i></a>
      <a href="https://www.instagram.com/sallu._.techdevups/" target="_blank" class="btn btn-primary btn-dark btn-lg"><i class="bi bi-instagram"></i></a>
      <a href="https://twitter.com/sallu_fullstack" target="_blank" class="btn btn-primary btn-dark btn-lg"><i class="bi bi-twitter"></i></a>
      {% comment %} <a href="YOUR_SOCIAL_MEDIA_LINK_4" class="btn btn-primary btn-dark btn-lg"><i class="bi bi-youtube"></i></a> {% endcomment %}
    </div>
    {% comment %} <p class="mt-4">For any requirements or inquiries, feel free to DM me☝️</p> {% endcomment %}
  </div>
</section>

 
<!-- Submit - End -->

{% endblock main %}

